.container {
  position: relative;
  border: 1px solid var(--stroke);
  background: var(--stroke);
  flex: 1;
  margin-top: var(--spacing-xsmall);
}

.predictedNumber {
  position: absolute;
  top: calc(-1 * var(--spacing-small));
  left: calc(-1 * var(--spacing-small));
}

.detection {
  display: block;
  width: 100%;
}
