.container {
}

.main {
  padding: var(--spacing-large) var(--spacing-medium);
  max-width: var(--max-content);
  margin: 0 auto;
}

.nav {
  padding: var(--spacing-medium);
  border-bottom: 1px solid var(--stroke);
}

.nav h1 {
  margin: 0;
  padding: 0;
}
